.sidebar {
  padding: var(--space-l) var(--space-xs);

  overflow: auto;
  height: 100vh;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  scrollbar-width: thin;
  scrollbar-gutter: "stable";

  border-right: 1px solid var(--color-border);
}
