.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 var(--space-l);

  border-bottom: 1px solid var(--color-border);
}
