.flex {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid var(--color-border);
  width: 100px !important;
  height: 100px !important;

  .img {
    width: 95px !important;
    height: 95px !important;
    object-fit: contain;
  }
}
